.information{
    background-image: url('../../Images/Banner/banner_physicians.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.information i{
    font-size: 22px;
}
.service-info{
    margin-left: 100px;
    margin-top: 80px;
}